* {
    margin:0;
    padding:0;
}


html, body {
    width:100%;
    height:100%;
    background-color:#a2e3f2;
}

body {
    display:grid;
    grid-template-columns: 1fr 8fr;
    background-color: #a2e3f2;
    Font-size: 16px;
    font-family:sans-serif;
}

nav {
    background-color: #92b3ed;
}

nav ul li {
    display: inline-block;
}

nav ul li img {
    width: 90px;
    margin-left: 1.5em;
    margin-top: 1em;
}

nav ul li a {
    display: block;
    color: rgb(255, 255, 255);
    padding: 1em;
    text-decoration: none;
    transition: all 0.5s;
    margin: 5px;
    background-color:#4a7ed9;
}
